<!DOCTYPE html>
<html>
<head>
  <title>DC Small Donor Democracy</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fb-root"></div>
  <header class="row">
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <%= image_tag("DC Fair Elections4.png", alt: "logo") %>
          </a>
        </div>
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", root_url %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              About <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Why Fair Elections?", "/about" %></li>
              <li><%= link_to "FAQ", "/faq" %></li>
            </ul>
          </li>
          <li><%= link_to "News", "/#newsSummary" %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Get Involved <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Sign the Petition", "/#homePetition" %></li>
              <li><%= link_to "Pass an ANC Resolution", "/resolution" %></li>
              <li><%= link_to "Volunteer on Election Day", "/signup" %></li>
            </ul>
          </li>
          <li><%= link_to "Coalition", "/#coalition" %></li>
          <li><%= link_to "Contact", "/#contacts" %></li>
        </ul>
        <div class="nav-signup">
            <script>window.yepnope || document.write('<script src="https://actionnetwork.org/includes/js/yepnope154-min.js"><\/script>');</script>
            <script src='https://actionnetwork.org/widgets/v2/form/e9ab2a019489a0211ea7a6a8e3e181143119ecfe?format=js&source=widget'></script>
            <div id='can-form-area-e9ab2a019489a0211ea7a6a8e3e181143119ecfe'><!-- this div is the target for our HTML insertion --></div>
            <div class="fb-page" data-href="https://www.facebook.com/DCFairElections/" data-tabs="timeline, events" data-height="70" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/DCFairElections/"><a href="https://www.facebook.com/DCFairElections/">DC Fair Elections Coalition</a></blockquote></div></div>
        </div>
      </div>
    </nav>
  </header>

<div class="row main">
  <!-- <div class="row-height">
    <div class="col-md-9 col-xs-12 col-height">
      <div class="inside-full-height"> -->
        <%= yield %>
      <!-- </div>
    </div>
    <div class="col-md-3 col-height sidebar">
      <div class="inside-full-height">
        <div>SIDEBAR CONTENT HERE</div>
      </div>
    </div>
  </div> -->
</div>

<footer class="row footer">
  <div class="col-md-12">
    <h3>Contacts</h3>
    <ul id="contacts">
      <li><strong>Media:</strong> <span>Delvone Michael, DC Working Families, </span><span>dmichael@workingfamilies.org</span></li>
      <li><strong>Coalition Membership:</strong> <span>Aquene Freechild, Public Citizen, </span><span>afreechild@citizen.org</span></li>
      <li><strong>Website/Digital Engagement:</strong> <span>Jeremy Koulish, DC for Democracy, </span><span>jeremy.koulish@gmail.com</span></li>
      <li><strong>General:</strong> <span>Zach Weinstein, USPIRG, </span><span>zweinstein@pirg.org, </span><span>202-546-9707 x384</span></li>
  </div>
  <div class="col-md-12">
<nav class="navbar">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="nav-signup">
          <div class="fb-page" data-href="https://www.facebook.com/DCFairElections/" data-tabs="timeline, events" data-height="70" data-small-header="true" data-adapt-container-width="false" data-hide-cover="true" data-show-facepile="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/DCFairElections/"><a href="https://www.facebook.com/DCFairElections/">DC Fair Elections Coalition</a></blockquote></div></div>
      </li>
    </ul>
    </div>
  </div>
</footer>

</body>
</html>
